//--------------
// VERTICAL
//--------------

@mixin au-arrangement-vertical($justify: flex-start, $gap: null) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;

  @if $gap != null {
    gap: $gap;
  }
}

$au-vertical-arrangements: (
  top: flex-start,
  center: center,
  bottom: flex-end,
  space-between: space-between,
  space-around: space-around,
  space-evenly: space-evenly
);

@each $name, $value in $au-vertical-arrangements {
  .au-arrangement-vertical-#{$name} {
    @include au-arrangement-vertical($value);
  }
}

.au-arrangement-vertical-equal-weight {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }
}

.au-arrangement-vertical-spaced-by {
  display: flex;
  flex-direction: column;
  gap: var(--au-spaced-by-spacing);
}

//--------------
// HORIZONTAL
//--------------

@mixin au-arrangement-horizontal($justify: flex-start, $gap: null) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;

  @if $gap != null {
    gap: $gap;
  }
}

$au-horizontal-arrangements: (
  start: flex-start,
  center: center,
  end: flex-end,
  space-between: space-between,
  space-around: space-around,
  space-evenly: space-evenly
);

@each $name, $value in $au-horizontal-arrangements {
  .au-arrangement-horizontal-#{$name} {
    @include au-arrangement-horizontal($value);
  }
}

.au-arrangement-horizontal-equal-weight {
  display: flex;
  flex-direction: row;

  > * {
    flex: 1;
  }
}

.au-arrangement-horizontal-spaced-by {
  display: flex;
  flex-direction: row;
  gap: var(--au-spaced-by-spacing);
}