.au-adaptive-navigation-layout {
    display: flex;
    min-height: 100%;
    height: 100%;

    > .au-adaptive-navigation-layout__navigation {
        flex-shrink: 0;
    }

    > .au-adaptive-navigation-layout__content {
        flex: 1;
        min-width: 0;
        min-height: 0;
    }
}

.au-adaptive-navigation-layout--expanded-rail,
.au-adaptive-navigation-layout--compact-rail,
.au-adaptive-navigation-layout--drawer {
    flex-direction: row;
}

.au-adaptive-navigation-layout--bottom-bar {
    flex-direction: column;

    > .au-adaptive-navigation-layout__content {
        order: 1;
    }

    > .au-adaptive-navigation-layout__navigation {
        order: 2;
    }
}

.au-adaptive-navigation {
    display: flex;
    flex-direction: column;
}

.au-adaptive-navigation-item {
    width: 100%;
}
