.au-adaptive-navigation-layout {
    display: grid;
    min-height: 100%;
    height: 100%;

    > .au-adaptive-navigation-layout__navigation {
        grid-area: nav;
        overflow: hidden;
    }

    > .au-adaptive-navigation-layout__content {
        grid-area: content;
        min-width: 0;
        min-height: 0;
        overflow: auto;
    }
}

.au-adaptive-navigation {
    display: flex;
    flex-direction: column;
}

.au-adaptive-navigation-item {
    width: 100%;
}