.au-circular-progress {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  svg {
    display: block;
    overflow: visible;
    will-change: transform;
  }

  &--determinate {
    svg circle {
      transition:
        stroke-dashoffset 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
        stroke-dasharray 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }

  &--indeterminate{
    .au-cpi-arc--indeterminate {
      transform-origin: 50% 50%;
      
      animation: 
        au-cpi-dash 1400ms ease-in-out infinite,
        au-cpi-rotate 2000ms linear infinite;
    }
  }
}

@keyframes au-cpi-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes au-cpi-dash {
  0% {
    stroke-dasharray: 
      0 
      0 
      calc(2 / 360 * var(--au-cpi-circ)) 
      calc(358 / 360 * var(--au-cpi-circ));
  }
  50% {
    stroke-dasharray: 
      0 
      calc(35 / 360 * var(--au-cpi-circ)) 
      calc(290 / 360 * var(--au-cpi-circ)) 
      calc(35 / 360 * var(--au-cpi-circ));
  }
  100% {
    stroke-dasharray: 
      0 
      calc(358 / 360 * var(--au-cpi-circ)) 
      calc(2 / 360 * var(--au-cpi-circ));
  }
}