.au-circular-progress {
  svg {
    display: block;
    overflow: visible;
    will-change: transform;
  }

  &--determinate {
    svg circle {
      transition:
        stroke-dashoffset 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
        stroke-dasharray 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }

  &--indeterminate {
    circle {
      --au-1deg: calc(2 * pi * var(--au-circular-progress-radius) / 360);
      animation:
        au-circular-progress-dash 1400ms ease-in-out infinite,
        au-circular-progress-rotate 2000ms linear infinite;
      transform-origin: 50% 50%;
    }
  }
}

@keyframes au-circular-progress-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes au-circular-progress-dash {
  0% {
    stroke-dasharray: 0
      0
      calc(2 * var(--au-1deg))
      calc(358 * var(--au-1deg));
  }
  50% {
    stroke-dasharray: 0
      calc(35 * var(--au-1deg))
      calc(290 * var(--au-1deg))
      calc(35 * var(--au-1deg));
  }
  100% {
    stroke-dasharray: 0
      calc(358 * var(--au-1deg))
      calc(2 * var(--au-1deg));
  }
}