.au-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    border: none;
    background: none;

    &:open{
        display: flex;
    }

    &__scrim {
        position: absolute;
        inset: 0;
    }

    &__content-area {
        position: relative;
        z-index: 1;
    }
}
